/* 
   ! GENERAL
*/

img {max-width: 100%;}

a {text-decoration: none;}

.my_container {width: 100%; height: calc(100vh - 4.375rem);}

/* 
   ! VARIABLES
*/

:root {
    /* ! Color Palette */
    
    --light_color:#FFFFFF ;
    --dark_color: #0A0A0A ;
    --primary_color: #084B83;
    --secondary_color: #124E78;
}

.main_section_bg {background-color: var(--primary_color);} 

.sidebar_bg {background-color: var(--secondary_color);}
