@import url('reset.css');
@import url('general.css');

/* 
   ! HEADER
*/

header {width: 100%; height: 6.25rem;}

.logo img {max-height: 3.125rem;}

.search_bar {position: relative; width: 100%;}

.search_bar input {border: .0625rem solid #C5C3C6; background-color: #e5e5e5; text-indent: 25px;}

.search_bar .fa-search {position: absolute; top: .75rem; left: .75rem;}

.nav_icon a {margin: 0 .125rem; color:#5b5858;}

.icon-bell {color: #fd7e14;}

/* ! Sidebar Section */

.sidebar {width: 10%; height: 100%; font-size: 0.9rem; background-image: url('../img/sidebar-bg.png');}

.sidebar a {color: var(--light_color);}

.sidebar i {font-size: 1.2rem;}

.menu_top {height: calc(100% - 4.375rem); overflow: hidden;}
  
.menu_bottom {height: 4.375rem;}
  
.sidebar a {width: 70%;}
  
.sidebar a:hover {background-color:rgba(255, 255, 255, 0.5);}

/* 
   ! MAIN
*/

main {width: 90%; height: 100%; overflow: auto;}

/* ! Counter Section */

.sd-badge {font-size: .9rem; cursor: pointer; background-color: #155cba;}

.sd-badge:hover {background-color: #2b5690;}

.sd-row {margin-top: .3125rem;}

.icon-quote {font-size: .9rem;}

.sd-btn {font-size: 0.7rem; background-color: #155cba; color: var(--light_color); border-radius: 100%; padding: .125rem .375rem;}

.sd-btn:hover {background-color: #2b5690;} 

/* ! Table Section */

section:not(#counter) {width: 100%; border: .0625rem solid #d3d3d3; border-radius: .3125rem; margin-bottom: 1.5rem; background-color: var(--light_color);}

.title {background-color: #f7f7f7; border-bottom: .0625rem solid #e5e5e5; padding: .5rem 1rem;}

.code-icon {background-color: #f26551; color: var(--light_color); border-radius: 100%; padding: .625rem .3125rem; margin-right: .3125rem;}

td button:hover {background-color: #6c757d; color: var(--light_color);}

tr td:not(tr td:first-child),
tr th:not(tr th:first-child) {text-align: center;}

td, th {font-size: 0.9rem;}

/* ! Faq Section */

.sd-acco-body {font-size: 0.8rem;}
 
.sd-acco-item {border-left: 0; border-right:0; margin-left: 1rem; margin-right: 1rem;}
 
.sd-acco-item:first-of-type {border-top: 0;}
 
.sd-acco-item:last-of-type {border-bottom:0;}

/* ! Checklist Section */

.inner_container {margin: 1rem; border-radius: .3125rem; border: .0625rem solid #d3d3d3;}

.inner_container .sd-form-check:last-child {border-bottom: 0;}

.sd-form-check {margin: 0; padding-top: .5rem; padding-bottom: .5rem; border-bottom: .0625rem solid #d3d3d3;}

.sd-form-check .form-check-input {margin-left: 0; margin-right: .625rem;}


/*  ! Chart Section */


/* 
   ! RESPONSIVE DESIGN
*/


/* Min width 768px */

@media screen and (min-width: 768px) {

   /* ! Sidebar Section */

   .sidebar {width: 10%;}

   main {width: 90%;}

}

/* Min width 992px */

@media screen and (min-width: 992px) {
    
   /* ! Sidebar Section */

   .sidebar {width: 10rem;}

   .sidebar i {margin-right: .625rem;}

   main {width: calc(100% - 10rem);}

   .sd-offcanvas {width: 70% !important;}

}
